<div class="centered" id="socials-container">
  <!--<span>&#8226;</span>-->

  <a href="https://www.youtube.com/channel/UCJhfTt-wU7zsXD3HEQmKXyg" target="_blank">
    <img src="assets/yt_logo.webp">
    <span class="socials-name" *ngIf="showName">Vocabular</span>
  </a>

  <span class="socials-dot">&#8226;</span>

  <a href="https://twitter.com/J_Vocabular" target="_blank">
    <img src="assets/twitter_logo.webp">
    <span class="socials-name" *ngIf="showName">@J_Vocabular</span>
  </a>

  <ng-container *ngIf="showMail">

    <span class="socials-dot">&#8226;</span>

    <a href="mailto:jonathan.vocabular@gmail.com" target="_blank">
      <img src="assets/OOjs_UI_icon_message.svg.png">
      <span class="socials-name" *ngIf="showName">jonathan.vocabular@gmail.com</span>
    </a>

  </ng-container>

  <!--<span>&#8226;</span>-->
</div>
