<div id="header-container">
  <div id="header-inner-container">
    <div id="header-text-container">
      <h1>Vocabulum</h1>
      <p>Intelligenter Trainer für deine Lateinvokabeln</p>
      <a mat-flat-button color="primary" href="#features">Mehr erfahren</a>
      <span class="delimiter"></span>
      <a mat-flat-button color="accent" href="#newsletter">Newsletter</a>
    </div>
  </div>
</div>

<span id="features"></span>
<div id="features-outer-container">
  <div id="features-container">

    <div id="features-grid-container">
      <div class="feature-container" *ngFor="let row of rows">
        <div class="icon-container">
          <mat-icon>{{row.icon}}</mat-icon>
        </div>
        <div class="text-container">
          <mat-card>
            <div class="tile-text">
              <p class="title">{{row.title}}</p>
              <p>{{row.text}}</p>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <br>
    <div class="centered">
      <span id="coming-soon">
        Erscheint bald für Mobile und PC
      </span>
    </div>
    <br>

    <span id="newsletter"></span>
    <mat-card id="signup-form-container">
      <div class="signup-form-tile" id="signup-form-text-tile">
        <p class="tile-text" id="newsletter-text">
          <span class="title">Abonniere den Newsletter,</span>
          <br>um alle zukünftigen Updates zu Vocabulum zu erhalten.
        </p>
      </div>
      <div class="signup-form-tile" id="signup-form-form-tile">
        <app-signup-form></app-signup-form>
      </div>
    </mat-card>

    <div id="socials">
      <app-socials [showName]="true" [showMail]="false"></app-socials>
    </div>

    <!--------------- ADD LINKS, STYLE, CHECK FOR MOBILE --------------->

  </div>
</div>
