#bottom-bar-container {
  padding: 0 30px;
}

#bottom-bar {
  width: fit-content;
  text-align: center;

  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background-color: white;
  /*//border: rgba(32, 131, 166, 0.5) 1px solid;*/
  border: #d0d0d0 1px solid;

  display: flex;
  flex-direction: row;
  vertical-align: center;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.floored #bottom-bar {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#bottom-bar .bottom-bar-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.floored {
  margin-bottom: 20px;
}

.text {
  margin: 5px 10px;
}

#bottom-bar a {
  text-decoration: none;
  color: inherit;
}

.img-logo {
  height: 80px;
  width: 80px;
  margin: 20px;
}

@media screen and (max-width: 540px) {
  #bottom-bar-container {
    padding: 0;
  }

  #bottom-bar {
    width: 100%;
    border-radius: 0 !important;
  }
}

@media screen and (max-width: 460px) {
  #bottom-bar {
    flex-direction: column;
  }

  .text {
    padding: 10px;
  }

  .img {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
