<div id="bottom-bar-container" [class.floored]="floored">

  <div id="bottom-bar">

    <div class="bottom-bar-col">
      <div class="img">
        <img class="img-logo" src="/assets/logo/vocabulum_logo.png">
      </div>
    </div>
    <div class="bottom-bar-col">
      <div class="text">
        <a routerLink="/">Vocabulum</a> <span class="muted"> by</span> Vocabular
      </div>
      <div class="text">
        Copyright &copy; 2022 Jonathan Kraus
      </div>
      <div class="text">
        <a routerLink="/imprint">Imprint</a>
      </div>
    </div>
  </div>

</div>
