<div id="signup-form-container" *ngIf="!isDone">

  <form>
    <mat-form-field appearance="outline" id="input-form-field">
      <mat-label>Deine E-Mail-Adresse</mat-label>
      <input matInput placeholder="my@email.com" [formControl]="email">
      <mat-icon matSuffix id="icon">alternate_email</mat-icon>
      <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>
    <button mat-flat-button color="primary" type="button" id="signup-button" (click)="signup()">Abonnieren</button>
  </form>

</div>

<div id="done-banner" *ngIf="isDone">
  <div>Erfolgreich angemeldet!</div>
</div>
